@font-face {
	font-family: 'weathericons';
	src: url(../../assets/fonts/weathericons-1b1605ae02cf3fa97a7f895728bf22e1.eot) format('embedded-opentype'),
	url(../../assets/fonts/weathericons-1b1605ae02cf3fa97a7f895728bf22e1.eot) format('embedded-opentype'),
	url(../../assets/fonts/weathericons-2639172eaa891e9f81f81dcbc6a5c430.woff2) format('woff2'),
	url(../../assets/fonts/weathericons-0e4088ad3274c4b835b9aeb640e7b44a.woff) format('woff'),
	url(../../assets/fonts/weathericons-d5310808ea838f428d3c488a9810b800.ttf) format('truetype'),
	url(../../assets/fonts/weathericons-63881cebb1e6bdc75a21025b5141f9bc.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}